#main {
    &.dark {
        nav {
            color: $darkmode-color;
            background: $darkmode-bg-nav;
        }
        #content {
            color: $darkmode-color;
            background: $darkmode-bg-content;
            #Chart-week, #Chart-month{
                .card {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
            #Temperature{
                .card {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
    nav {
        border-bottom: 1px solid rgba(255, 255, 255, .01);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    }
    #content {
        height: 100%;
        background: $content-bg;
        #Dashboard {
            .btn-report {
                font-size: .85rem;
            }
            .card {
                color: rgb(255, 255, 255);
                .num {
                    font-size: 2rem;
                }
                .num-turns {
                    margin-right: .25rem;
                }
                .time {
                    color: rgba(255,255,255,.75);
                }
            }
        }
        #Temperature {
            .weather-box {
                .img {
                    @include imgBg();
                }
                .temperature {
                    .degrees {
                        position: relative;
                        font-size: 56px;
                        font-weight: 600;
                        &::after {
                            content: '\2103';
                            position: absolute;
                            top: 0px;
                            font-size: 30px;
                        }
                    }
                }
                .position {
                    .city {
                        font-size: 20px;
                    }
                    .country {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                .state {
                    font-size: 18px;
                    font-weight: 500;
                }
                .weather {
                    font-size: 60px;
                }
            }
        }
    }
}